/*
	@name mat_rias_v_deos
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: block; position: relative; width: 1440px; width: 1440px; height: 1024px; overflow: hidden; display: block;  margin-left: auto; margin-right: auto;  }

#bg_materias_videos {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(229,229,229,1);
}


#topo_da_pagina {
	top: 0px;
	left: 0px;
	width: 1440px;
	height: 1024px;
	background:rgba(229,229,229,1);
}


#topo_da_pagina {
	top: 0px;
	left: 0px;
	width: 1455px;
	height: 92px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(0,12.11,121.12,1);
}


#sobre_nos {
	top: 35px;
	left: 1200px;
	width: 200px;
	height: 40px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	letter-spacing: 0.9px;
	color:#FFFFFF;
}


#espaco_pesquisar {
	top: 30px;
	left: 910px;
	width: 273px;
	height: 35px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}


#pesquisar {
	top: 35px;
	left: 924px;
	width: 218px;
	height: 45px;
	overflow: hidden;
	font-family: Inter;
	font-size: 18px;
	text-align: left;
	letter-spacing: 0.9px;
	color:#393939;
}


#nome_interactive_library {
	top: 20px;
	left: 80px;
	width: 408px;
	height: 100px;
	overflow: hidden;
	font-family: 'Times New Roman', Times, serif;
	font-size: 45px;
	text-align: center;
	letter-spacing: 0.9px;
	color:#FFFFFF;
}


#logo_interactive_library {
	top: 0px;
	left: 0px;
	width: 103px;
	height: 95px;
}


#barra_lateral {
	opacity:0.5799999833107;
	top: 95px;
	left: 0px;
	width: 84px;
	height: 929px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background:rgba(255,255,255,0.58);
}

#lateral_videos {
	top: 340px;
	left: 0px;
	width: 85px;
	height: 75px;
}


#lateral_livros {
	top: 235px;
	left: -5px;
	width: 93px;
	height: 93px;
}


#perfil {
	top: 139px;
	left: 8px;
	width: 66px;
	height: 70px;
}


#botao_voltar {
	top: 30px;
	left: 1316px;
	width: 90px;
	height: 35px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
	background:rgba(217,217,217,1);
}


#texto_voltar {
	top: 38px;
	left: 1330px;
	width: 123px;
	height: 57px;
	overflow: hidden;
	font-family: Inter;
	font-size: 20px;
	text-align: left;
	line-height: 18px;
	padding-top: 2px;
	margin-top: -2px;
	letter-spacing: 1px;
	color:#000000;
}

#materia_geografia {
	top: 535px;
	left: 436px;
	width: 345px;
	height: 348px;
}


#materia_matematica {
	top: 156px;
	left: 231px;
	width: 306px;
	height: 301px;
}


#materia_ciencias {
	top: 165px;
	left: 1026px;
	width: 296px;
	height: 308px;
}


#materia_portugues {
	top: 156px;
	left: 659px;
	width: 303px;
	height: 301px;
}


#materia_historia {
	top: 559px;
	left: 887px;
	width: 287px;
	height: 300px;
}

#matematica {
	top: 467px;
	left: 244px;
	width: 291px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	line-height: 18px;
	padding-top: 22px;
	margin-top: -22px;
	letter-spacing: 2px;
	color:#000000;
}


#geografia {
	top: 855px;
	left: 462px;
	width: 290px;
	height: 83px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	line-height: 18px;
	padding-top: 22px;
	margin-top: -22px;
	letter-spacing: 2px;
	color:#000000;
}


#ciencias {
	top: 473px;
	left: 1038px;
	width: 292px;
	height: 72px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	line-height: 18px;
	padding-top: 22px;
	margin-top: -22px;
	letter-spacing: 2px;
	color:#000000;
}


#portugues {
	top: 470px;
	left: 665px;
	width: 290px;
	height: 78px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	line-height: 18px;
	padding-top: 22px;
	margin-top: -22px;
	letter-spacing: 2px;
	color:#000000;
}


#historia {
	top: 859px;
	left: 891px;
	width: 285px;
	height: 75px;
	overflow: hidden;
	font-family: Inter;
	font-size: 40px;
	text-align: center;
	line-height: 18px;
	padding-top: 22px;
	margin-top: -22px;
	letter-spacing: 2px;
	color:#000000;
}


#identificador {
	top: 910px;
	left: 1310px;
	width: 120px;
	height: 100px;
}


/* Add your custom CSS here */
